.futureTable {
    border-collapse: collapse;
    border-spacing: 0;
    color: #fff;
}

.baseTD {
    padding-right: 2px;
    text-align: right;
}

.numberTD {
    padding-right: 2px;
    text-align: right;
}

.futureTable th {
    border-width: 0 1px 1px 0;
    border-color: #565656;

    background: #5c5f66; /* Old browsers */
    background: -moz-linear-gradient(top, #5c5f66 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5c5f66), color-stop(100%, #000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #5c5f66 0%, #000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #5c5f66 0%, #000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #5c5f66 0%, #000000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #5c5f66 0%, #000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c5f66', endColorstr='#000000', GradientType=0); /* IE6-9 */
}

.oddEven tbody tr:nth-child(odd) {
    background-color: #272727;
}

.oddEven tbody tr:nth-child(even) {
    background-color: #0f0f0f;
}

.golden {
    color: #ffb70a;
}

.lightBlue {
    color: lightskyblue;
}

.futureUpColor{
    color: #ad0000;
}

.futureDownColor{
    color: #00a900;
}